* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: -webkit-fill-available;
}
.containerCabecalhoPrincipal{
    background-color: #006953;
    height: 38px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerCabecalhoH4{
    color: #FFFFFF;
    font-size: 13px;
    text-transform: uppercase;
    width: 260px;
    display: flex;
    align-items: center;
}
.imgContainerCabecalho{
    margin-right: 10px;
}
.cabecalhoPrincipal{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 10px 0;
}
.boxPesquisa{
    height: 45px;
    border: 1px solid #4A4A4A;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.inputCabecalhoPrincipal{
    height: 45px;
    width: 450px;
    text-transform: uppercase;
    border: none;
    margin-left: 25px;
}
.botaoCabecalhoPrincipal{
    color: #009B7B;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-transform: uppercase;
    width: 130px;
    height: 45px;
    display: flex;
    border: 1px solid #009B7B;
    align-items: center;
    font-size: 12px;
    padding-left: 15px;
    text-align: start;
    cursor: pointer;
}
.imgBotaoCabecalho{
    margin-right: 15px;
}
.botaoInputCabecalho{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    width: 25px;
}
.imagemPerfilUsuario{
    height: 25px;
    width: 23px;
}
.perfilUsuarioH3{
    text-transform: uppercase;
    font-size: 14px;
    color: #4A4A4A;

}
.perfilUsuarioH4{
    font-size: 12px;
    color: #4A4A4A;
}
.perfilUsuario{
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.imgCarrinho{
    margin-bottom: 10px;
}
.espacoContainer{
    display: flex;
    justify-content: space-around;
    width: 75%;
}
.cabecalhoPrincipal-nav{
    display: flex;
    justify-content: space-around;
    border: 1.5px solid #ECEAEA;
    margin-bottom: 25px;
}
.navItem{
    text-decoration: none;
    color: #4A4A4A;
    font-size: 12px;
    font-weight: 600;
    margin: 15px 37px;
}
.navEspaco{
    display: flex;
    justify-content: space-around;
}
.bannerPrincipal{
    width: 100%;
}

.mySlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.pontoProximoSlide {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .pontoProximoSlide:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.botaoImagem{
    position: absolute;
    left: 600px;
    bottom: 63px;
    height: 50px;
    width: 155px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
}
.containerBox{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.anuncioContainerImg{
    margin: 0 12px;
}
.anuncioContainer{
    width: 255px;
}
.containerImgBotao{
    position: relative;
    left: 50px;
    bottom: 95px;
    width: 155px;
    height: 50px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.maisVendidos{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}

.maisVendidosNav{
    margin-right: 10px;
}

.maisVendidosH1{
    color: #009B7B;
    margin-right: 60px;
}
.achocolatado{
    margin-left: 15px;
    color: #009B7B;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
.maisVendidosItem{
    margin-left: 15px;
    color: #9D9D9D;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
}
.button {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    height: 35px;
    margin: 0 -3px;
}
  
.button1 {
    background-color: white; 
    color: #9D9D9D; 
    border: none;
    border-bottom: 2px solid #9D9D9D
}
  
.button1:hover {
    border-bottom: 2px solid #009B7B;
    color: #009B7B;   
}
  
.cardMaisVendidos {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 30px 175px;

}
  
.cardMaisVendidos button {
    margin-left: 10px;
    padding: 0 30px;
    border: #009B7B;
    color: white;
    background-color: #009B7B;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}
  
.cardMaisVendidos button:hover {
    background-color: #006953;
}
.cardNomeProduto{
    font-size: 14px;
    width: 125px;
    text-align: center;
}
.cardPreco{

}
.cardPrecoAnterior{
    text-decoration: line-through;
    color: #717171;
}
.textoQuantidade {
    text-align: center;
    border: none;
    width: 20px;
}
.quantidadeBox{
    display: flex;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
    width: 40px;
}
.cardQuantidadeProduto{
    display: flex;
    height: 45px;
}
.botaoQuantidade{
    width: 20px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}
.cardBotaoComprar{
    background-color: #006953;
}
.cardProduto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    height: 340px;
    border-radius: 10px;
}
.cardProduto:hover{
    box-shadow: 5px 7px 8px 0px #888888;
}
.cardImgProduto{
    height: 200px;
}
.segundoBannerBox{
    display: flex;
    justify-content: center;
    text-align: center;
}
.bannerDivTamanho{
    width: 490px;
    margin: 0 8px;
}

.imgBotaoBanner {
    position: relative;
    bottom: 95px;
    width: 155px;
    height: 50px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.instagramCentral{
    color: #009B7B;
    text-align: center;
    margin-bottom: 10px;
}
.imgInstagram{
    width: 221px;
    margin-bottom: 85px;
}
.instagramCentralHH{
    margin: 50px 0;
}

.sobreNosCentralH2{
    text-align: center;
    color: #006953;
}
.sobreNosCentralP{
    text-align: center;
    margin-top: 30px;
    line-height: 1.7;
    color: #9D9D9D;
    font-size: 15px;
}
.sobreNosCentral{
    margin: 0 150px;
    margin-bottom: 50px;
}
footer{
    background-color: #2A2A2A;
    height: 400px;
}
.conhecaCentralFoods{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin: 50px 20px;
}
.tituloNavFooter{
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 20px;
}
.opcaoNavFooter{
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 33px;
}
.iconeRedes{
    margin: 0 20px 0 0;
}
.footerIcones{
    display: flex;
    margin-top: 40px;
}
.footerBox{
    display: flex;
    justify-content: center;
}
.footerCadastro{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 380px;
    border-radius: 10px;
    margin: 30px 0 0 30px;
}
.cadastroPrimeiroItem{
    color: #2A2A2A;
    font-weight: 100;
}
.cadastroSegundoItem{
    font-weight: 600;
    color: #2A2A2A;
}
.cadastroTerceiroItem{
    font-size: 13px;
    width: 295px;
    text-align: center;
    color: #2A2A2A;
    font-weight: 100;
    margin: 25px 0;
}
.inputFooter{
    height: 45px;
    width: 220px;
    border: 1px solid #2A2A2A;
    border-radius: 5px;
    padding-left: 20px;
    margin-right: 5px;
}
.botaoInputFooter{
    height: 45px;
    width: 62px;
    background-color: #009B7B;
    border: 1px solid #009B7B;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
}
.imgFormaPagamento{
    margin: 10px;
}
.footerCopyrightParag{
    color: #FFFFFF;
    width: 690px;
    font-weight: 600;
    font-size: 11px;
    margin: 30px 150px 0 0;
}
.copyrightImg{
    margin: 30px 0 0 25px;
}
.footerCopyright{
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #717171;
}